body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  margin: 0;
}

form {
  background: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  font-size: 13px;
}

.srl{
  color: #B5B5B5;
  font-size: 9px;
  margin-top: -1rem;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  background-color: #F9F9F9;
 border: none;
  border-radius: 8px;
  width: calc(100% - 22px); /* Adjust width to account for padding and border */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

button {
  background-color: #5E51D9;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

#form-feedback {
  margin-top: 10px;
  padding: 10px;
  color: #d8000c;
  background-color: #ffbaba;
  border-radius: 4px;
  display: none; /* Initially hide the feedback div */
}