* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
html {
  scroll-behavior: smooth;
}


/* /* Reset margin and padding */
body, ul {
  margin: 0;
  padding: 0;
}

/* Style for navbar */
.navbar {
  display: flex;
  justify-content: flex-end; 
  background-image: url('images/image-hero-desktop.jpg');
  background-size: cover;
  height: 55vh;
  padding: 10px;
}

.logo{
  
  color:ghostwhite;
  cursor: default;
  margin-top: 40px;
  left:180px;
  position: absolute;
}

/* Style for nav links */
.nav-links {
  list-style: none; 
  display: flex;
  gap: 20px; 
  margin-top: 40px;
  margin-right: 158px;
}

.nav-links li a {
  color: white;
  text-decoration: none; 
  padding: 8px 12px;
  
}

.nav-links li a:hover {
  border-radius: 4px;
  color: beige;
}


#container{
  background-color: white;
  padding: 10px;
  width: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
  text-align: center;
  margin-left: 20rem;
  margin-top: -5rem;
  position: relative;
  border-radius: 20px
};

.content h1{
font-size: 30px;
margin-bottom: 10px;
font-weight: bolder;
}

.content p{
  color: darkgrey;
  font-weight: 100 ; 
  margin-bottom: 10px;
  font-size: 20px;
}

.content img{
margin-top: -40px;
}

.btn{
    display: flex;
    justify-content: space-between; /* Push buttons to the left and right ends */
    align-items: center; /* Align buttons vertically */
    padding: 20px; /* Add some padding if needed */
    width: 100%; /* Ensure the container spans the full width of the parent */
    box-sizing: border-box; /* Ensure padding is included in width */
    margin-bottom: 40px;
    margin-top: 15px;
}

 

/* .primary-button, .secondary {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
} */

.primary-button{
  background-color: #157A74;
  padding: 16px 35px;
  color: white;
  border-radius:35px;
  border: none;
  cursor: pointer;
};

.secondary img{
   width: 2px; /* Adjust size */
   

}

.secondary{
padding: 16px 35px;
color: white;
font-size: 15px;
border-radius:35px;
border: none;
cursor: pointer;
}

#container2{
  background-color: white;
  padding: 10px;
  width: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); 
  text-align: center;
  margin-left: 20rem;
  margin-top: 2rem;
  position: relative;
  border-radius: 20px
}
#container2 div{
  display: inline-block;
  justify-content:baseline;
}

.amount {
  font-size: 32px;
  font-weight: bold;
}

.goal, .backers, .days-left {
  font-size: 14px;
  color: #777;
}

.separator {
  color: #777;
}

.progress-bar {
  position: relative;
  width: 50%;
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 5px;
}

.progress {
  background-color: #20c997;
  height: 100%;
  border-radius: 5px;
  margin-bottom: 12px;
  margin-right: -20px;
}

